=create-arrow ($size, $color, $position)
  width: 0
  height: 0
  position: absolute
  content: ""
  border-left: $size solid transparent
  border-right: $size solid transparent
  @if $position == top
    border-top: $size solid $color
    border-bottom: 0
  @else
    border-bottom: $size solid $color
    border-top: 0
