//autocomplete
.ui-widget-content
    margin-top: -2px
    border-color: #e1e1e1
    padding: 4px 0
    .ui-menu-item
        border: 0
        margin: 0
        padding: 0
        background: none
        a
            line-height: 21px
            padding: 6px 15px
            font-family: $primary-font
            background: #fff
            font-size: $primary-size
            display: block
            overflow: hidden
            span
                display: block
        .number,
        .type,
        .name
            float: left
            width: 50%
            white-space: nowrap
            overflow: hidden
            text-overflow: ellipsis
        .category
            float: right
            width: 50%
            text-align: right
            color: #a6a6a6
        &:nth-child(even)
            background: #f3f3f3
        &.ui-state-focus
            a
                background: $brand-color
                color: #fff
                text-decoration: none
                .category
                    color: #fff
