//buttons
$btn-text-color: #fff

.btn
    font-size: $primary-size
    font-family: $primary-font
    line-height: $control-line-height
    border: 0
    padding: 7px 18px
    border-radius: 0
    box-shadow: none
    &.btn-info
        border: 2px solid #fff
        padding: 5px 15px
        background: none
        &:hover,
        &:focus
            @extend .btn-info
    &.btn-success
        background: $brand-color
        &:hover,
        &:focus
            @extend .btn-success
        &.disabled
            background: #c2c2c2
    &.btn-lg
        padding: 15px 18px
        line-height: 20px
    &.btn-sm
        padding: 5px 15px
    &.btn-xs
        padding: 8px 10px 5px
    &-block-sm
        @media #{$medium-up}
            display: block
            width: 100%
    &-xxs-block
        @media #{$small-up}
            display: block
            width: 100%
    em
        font-style: normal
        &:last-child
            margin-left: 10px
        &:first-child
            margin-right: 10px

    &.btn-orange
        background-color: #E16A03
        color: #fff
        font-weight: 700

    &.btn-transparent
        background-color: transparent
        border: 2px solid #ffffff
        text-transform: uppercase
        color: #fff
        font-weight: 700
        margin-top: 10px

&.txt-orange
    color: #e16a03
    font-size: 14px !important

    &:hover
        text-decoration: none !important
        color: #e16a03 !important

    &:active
        box-shadow: none



.btnorangeTransp
    background-color: transparent
    color: #e16a03
    font-size: 14px !important
    &.disabled
       color: #979797
    &:hover
        text-decoration: none !important
        color: #e16a03 !important

    &:active
        box-shadow: none
    
.btnGrayTransparent
    color: #979797
    background-color: transparent
    font-size: 14px !important
    &:hover
        text-decoration: none !important
        color: #979797 !important
    &:active
        box-shadow: none