//grid
.wrapper
    display: flex
    min-height: 100vh
    flex-direction: column
.main
    flex: 1
html
    height: 100%
    &.is-fancybox
        height: auto
        body
            height: auto
body
    display: -webkit-box
    display: -webkit-flex
    display: -ms-flexbox
    display: flex
    -webkit-box-orient: vertical
    -webkit-box-direction: normal
    -webkit-flex-direction: column
    -ms-flex-direction: column
    flex-direction: column
    height: 100%
main
    &.main
        -webkit-box-flex: 1
        -webkit-flex: 1 0 auto
        -ms-flex: 1 0 auto
        flex: 1 0 auto
footer,
header
    -webkit-box-flex: 0
    -webkit-flex: none
    -ms-flex: none
    flex: none
.container30
    padding-left: 30px
    padding-right: 30px
    @media #{$medium-up}
        padding-left: 15px
        padding-right: 15px
.container-xs-30
    @media #{$small-down}
        padding-left: 30px
        padding-right: 30px
.row0
    margin-right: 0
    margin-left: 0
    > div
        padding-left: 0
        padding-right: 0
.row4
    margin-right: -4px
    margin-left: -4px
    > div
        padding-left: 2px
        padding-right: 2px
.row10
    margin-left: -5px
    margin-right: -5px
    > div
        padding-left: 5px
        padding-right: 5px
.col-xxs
    &-12
        @media #{$small-up}
            width: 100%
            float: none
            margin-left: 0
    &-6
        @media #{$small-up}
            width: 50%
            float: left
.pad-top20
    padding-top: 20px
.pad-top15
    padding-top: 15px
.pad-top10
    padding-top: 10px
.pad-bot
    padding-bottom: 10px
