//header
.header-top
    .logo
        padding: 17px 0 27px
        img
            width: 180px
            height: auto
    .contacts
        font-size: 20px
        line-height: 20px
        font-weight: 300
        @media #{$medium-down}
            padding-top: 83px
        @media #{$medium-up}
            padding-bottom: 20px
        strong
            font-weight: 500


    span.glyphicon.glyphicon-off
        color: #E57F27

    span.glyphicon.glyphicon-cog
        color: #009FE3
    
    .input-group-addon
        background-color: #fafafa
        padding: 0 12px
        padding-right: 12px
        line-height: 38px
        
    .uerLinkTop
        background-color: transparent
        padding-right: 50px !important
        &:hover
          text-decoration: none

.header-middle
    background: #009FE3
    padding: 18px 0 3px
    &.pad10
        padding: 0
    p
        color: #fff
        font-size: 13px
        line-height: 18px
        font-weight: 400
        margin: 15px 0
    h3
        font-size: 20px
        line-height: 25px
        margin: 0
        color: #fff
        padding: 5px 0
        font-weight: 400
    .btn
        @media #{$small-down}
            width: 150px
            &.simple
                width: auto
.navbar-clear
    margin-bottom: 0
    border-radius: 0
    border: 0
    .navbar-nav
        > li
            @media #{$medium-down}
                margin-right: 2px
            @media #{$medium-up}
                margin-bottom: 2px
            > a
                +animate(300ms, background, color)
                text-transform: uppercase

        .navbar-toggle
            border-radius: 0
    .navbar-left
        @media #{$medium-down}
            margin-left: -15px
    &.green
        .navbar-nav
            > li
                > a
                    color: #fff
                    padding-top: 23px
                    padding-bottom: 20px
                    font-weight: 500
                    &:hover,
                    &:focus
                        color: #fff
                        background: #098DC5
                &.active
                    > a
                        color: #fff
                        background: #098DC5
        .navbar-toggle
            border-color: #fff
            border-radius: 0
            .icon-bar
                background: #fff
    &.gray
        .navbar-nav
            > li
                > a
                    color: #a6a6a6
                    &:hover,
                    &:focus
                        background: #fff
                &.active
                    > a
                        background: transparent
                        color: #2b2b2b
        .navbar-toggle
            border-color: #a2a2a2
            border-radius: 0
            .icon-bar
                background: #a2a2a2
.header-bottom
    background: #fafafa
    border-bottom: 1px solid #e1e1e1
.header
    .list-group
        margin-top: 13px
        margin-bottom: 0
        @media #{$medium-up}
            margin-bottom: 13px
        a:not(.btn)
            color: #2a2a2a
            display: block
            white-space: nowrap
            text-overflow: ellipsis
            overflow: hidden
.header-top
    .input-group
        @media #{$medium-down}
            padding-top: 50px

.lastUpdateTxt
    color: #2b2b2b


.headeRightButton
    margin-top: 37px !important

    .list-group-item:first-child
        border-bottom: 1px solid #ddd

    .list-group-item
        display: inline-block



.searchFormTop
    .form-control
        height: 40px
        border-radius: 4px
        border-right: 0
    .input-group-addon
        background-color: transparent
        .glyphicon
            color: #E16A03



.loginPage
    padding-bottom: 5px !important
    h2
        font-size: 23px !important
        font-weight: 500 !important
        color: #009fe3

.forgotPass
    color: #2b2b2b


.loginPageWrapp
    padding-top: 100px

.loginBtnTxt
    font-size: 13px

.rightBorderRadius
    border-top-right-radius: 4px
    border-bottom-right-radius: 4px

.leftBorderRadius
    border-top-left-radius: 4px
    border-bottom-left-radius: 4px