//list-group
.list-group-item
    border-radius: 0!important
    margin-bottom: 0
    border-bottom: 0
    &:last-child
        border-bottom: 1px solid #ddd
    &.gray
        background: #f3f3f3
.list-group
    &.badge-left
        .badge
            float: none
            padding: 8px 7px 3px
            margin-right: 10px
