//main
.main
    padding-top: 25px
.block-title
    color: #136697
    padding: 5px 0 32px
    @media #{$medium-up}
        padding-bottom: 22px
    h2
        font-size: 34px
        line-height: 40px
        margin: 0
        font-weight: 300
.align-r
  text-align: right