//panel
.panel
    &-custom
        background: #fafafa
        border: 1px solid #e1e1e1
        border-radius: 0
        box-shadow: none
        @media #{$medium-down}
            margin-bottom: 33px
        @media #{$medium-up}
            margin-bottom: 18px
        .panel-body
            @media #{$medium-down}
                padding-left: 30px
                padding-right: 30px
            @media #{$medium-up}
                padding-left: 15px
                padding-right: 15px
        .panel-content
            padding-top: 38px
            p
                font-size: 14px
                line-height: 20px
                margin-bottom: 32px
        .panel-content-other
            min-height: 290px
            p
                line-height: 23px
                margin-bottom: 20px
        .panel-heading
            background: #009FE3
            color: #fff
            padding-top: 8px
            padding-bottom: 8px
            position: relative
            border-radius: 0
            margin: -1px -1px 0 -1px
            @media #{$medium-down}
                padding-left: 31px
                padding-right: 31px
            @media #{$medium-up}
                padding-left: 16px
                padding-right: 16px
            .glyphicon-menu-down
                cursor: pointer
                +position(right, 25px, center, 0)
                height: 26px
                width: 24px
                padding: 5px
                @media #{$medium-up}
                    right: 11px
            .title
                padding: 7px 0
            h3
                font-size: 17px
                line-height: 21px
                margin: 0
                font-weight: 500

        .row10
            .form-control
                //border-radius: 4px