/*reset*/

/*for firefox outline*/
button::-moz-focus-inne,
input::-moz-focus-inne,
a::-moz-focus-inne
    border: 0
    outline: none

button:focus,
input:focus,
a:focus
    outline: none

/*for fileds and buttons styles*/
input[type=text],
input[type=email],
input[type=tel],
input[type=number],
input[type=password],
input[type=time],
button,
select,
textarea
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
    outline: none

select::-ms-expand
    display: none
select:invalid
    color: #9b9b9b

/*for textarea scroll and bottom margin*/
textarea
    vertical-align: top
    overflow-y: auto
img
    vertical-align: top

html,
body
    height: 100%
body
    font-family: $primary-font
    font-size: $primary-size
    color: $primary-color
    background: $primary-background
.link
    color: $primary-color
    text-decoration: underline
    &:hover,
    &:focus
        color: $primary-color
        text-decoration: none
.link-gray
    color: #bbb
    text-decoration: none
    &:hover,
    &:focus
        color: #bbb
        text-decoration: underline
.link-lg
    line-height: 50px
h1,
h2,
h3,
h4,
h5,
h6
    font-family: $primary-font
.heading-standart
    margin: 0 0 15px
    line-height: 35px
    font-size: 20px
.responsive-img
    width: 100%

.full
    width: 100%

.text-xs-right
    @media #{$small-down}
        text-align: right
.text-sm-right
    @media #{$medium-down}
        text-align: right
.text-md-right
    @media #{$large-down}
        text-align: right
.text-center-sm
    @media #{$medium-up}
        text-align: center
.text-center-xxs
    @media #{$small-up}
        text-align: center
.img-responsive
    width: 100%
.black
    color: #2b2b2b
.medium-font
    font-weight: 500
