//table
table
    &.table
        &-custom
            margin-bottom: 2px
            &.valign-top
                > thead,
                > tbody
                    > tr
                        > th,
                        > td
                            vertical-align: top
            &.small-font
                > thead,
                > tbody
                    > tr
                        > td,
                        > th
                            font-size: 12px
                            .btn
                                font-size: 12px
            &.batchesTable
                > tbody
                  > tr
                      &:hover
                          color: #2a2a2a
                color: #2a2a2a
                font-weight: bold
                .medium
                    color: #a6a6a6 !important
            .medium
                font-weight: 500
                color: #2a2a2a
            .pad-bot10
                &:last-child
                    padding-bottom: 0
            > thead,
            > tbody
                > tr
                    &:hover
                        color: #009FE3
                    > td,
                    > th
                        border-top: 0
                        line-height: 21px
                        padding: 8px 13px
                        font-size: 14px !important
                        &:first-child
                            border-radius: 4px 0 0 4px
                        &:last-child
                            border-radius: 0 4px 4px 0

                    &:nth-child(even)
                        > td,
                        > th
                            background: #fff
                    > td
                        vertical-align: middle
                    > th
                        color: #2b2b2b
                        font-size: 14px
                        font-weight: 500
.th-checkbox
    width: 47px
.th-price
    width: 100px
.th-one
    width: 40%
.th-two
    width: 20%
.th-flex
    width: 1%
.table-responsive
    margin-bottom: 0
.td-nowrap
    white-space: nowrap
.td-align-bottom
    vertical-align: bottom!important
.cell-danger
    background: #f2dede!important
.cell-more-btns
    .btn
        margin-bottom: 20px
        &:last-child
            margin-bottom: 0
.batchesTable
    table-layout: fixed
