//user-steps
.user-steps
    padding-bottom: 12px
    @media #{$medium-up}
        padding-bottom: 0
.us-box
    border: 1px solid #e1e1e1
    padding: 15px 20px
    position: relative
    margin-bottom: 30px
    display: block
    &:hover,
    &:focus
        text-decoration: none
    @media screen and (min-width: 480px) and (max-width: 1199px)
        min-height: 107px
    .glyphicon
        +position(right, 17px, top, 14px)
        color: $brand-color
        font-size: 18px
    &::before
        +position(left, -31px, center, 0)
        display: block
        width: 30px
        height: 2px
        background: #e1e1e1
        content: ''
        @media #{$small-up}
            left: 0
            right: 0
            width: 2px
            height: 30px
            top: -31px
            bottom: auto
    &.active
        border: 2px solid $brand-color
        padding: 14px 19px
        &::before
            left: -32px
            background: $brand-color
.user-steps__col
    &:first-child
        .us-box
            &::before
                display: none
    @media #{$small-range}
        &:nth-child(3)
            .us-box
                &::before
                    display: none
.us-label
    color: #a6a6a6
    font-size: 15px
    line-height: 20px
    padding: 4px 0 11px
.us-title
    font-size: 20px
    line-height: 20px
    color: $brand-color-link
